.incre {
    border-radius: 50%;
    border: none;
    background-color: black;
    padding: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.iccon {
    color: white;
}

.remo {
    background-color: rgb(227, 37, 37);
    color: white;
    border: none;
    padding: 5px;
    font-weight: 500;
    margin-left: 10px;
}

.grandtotel {}

.grandtotel h3 {
    color: rgb(0, 0, 0);
}

.grandtotel h2 {
    color: rgb(14, 169, 19);
}

.tabu {
    background-color: rgb(175, 170, 170);
    color: rgb(2, 2, 2);
    display: flex;
    align-items: center;
    padding-left: 20px;

}

.kkart {
    background-color: rgba(179, 176, 176, 0.214);
    padding: 10px;
}

.btn-check {
    color: white;
    background-color: black;
    width: 100%;
    padding: 10px;
    border: none;
}


@media (max-width: 750px) {

    .lastdance {
        width: 100%;
    }


}